<div class="row">
    <div class="span7 box">
        <h1>Checkout</h1>
        <div class="span6 offset1">
            <%= form_tag({:controller => 'rentals', :action => 'create', :method => 'post'}, {:id => 'cc-form'}) do %>
            <div id="guest" class="form-group">
              <label for="guest"></label>
              <div class="form-control-static">  
              <%= hidden_field_tag(:"guest-name", user.name) %>
              </div>
            </div>
            <div id="guest-email-address" class="form-group">
              <label for="guest-email-address"></label>
              <div class="form-control-static">  
                <%= hidden_field_tag(:"guest-email_address", user.email) %></span>
              </div>
            </div>
            <div id="cc-name" class="form-group">
            <label for="cc-name-field">Name on Card</label>
            <div class="form-control-static">
              <span class="fake-input"></span>
            </div>
            </div>
            <div id="cc-number" class="form-group">
              <label for="cc-number-field">Card Number</label>
              <div class="form-control-static">
                <span class="fake-input"></span>
              </div>
            </div>
            <label>Expiration Month</label>
            <div id="cc-exp-month" class="form-group">
              <label for="cc-exp-month"></label>
              <div class="form-control-static">
                <span class="fake-input" style="width: 50px;"></span>
              </div>
            </div>
            <label>Expiration Year</label>
            <div id="cc-exp-year" class="form-group">
              <label for="cc-exp-year"></label>
              <div class="form-control-static">
                <span class="fake-input" style="width: 50px;"></span>
              </div>
            </div>
            <div id="cc-cvc" class="form-group">
              <label for="cc-cvc-field">Card Verification Code (CVC)</label>
              <div class="form-control-static">
                <span class="fake-input"></span>
              </div>
            </div>
              <label>Postal Code</label>
              <input type="text" id="guest-postal_code" name="guest-postal_code" class="span1" autocomplete="off" />
            </div>
            <div id="listing" class="form-group">
              <label for="listing"></label>
              <div class="form-control-static">   
                <%= hidden_field_tag(:listing_id, @listing.id)%>
              </div>
            </div>
                <%= submit_tag 'Rent', class: 'btn-primary', remote: true %>
            </div>
            <% end %>
        </div>
    </div>
</div>

